h1 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-color:deepskyblue;
}

ul{
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
a{
    display:block;
    width:60px;
}


p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;

}
footer {
    font-size: small;
}

#subpage {
    background-color: darkred;
    color: white;
    font-size: x-large;
}
#subpage em{
    font-size: xx-large;
}